Flask==3.1.1
Werkzeug==3.1.3
gunicorn==23.0.0
email-validator==2.2.0
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-dance==7.1.0
psycopg2-binary==2.9.10
oauthlib==3.2.2
PyJWT==2.10.1
weasyprint==65.1
APScheduler==3.10.4
requests==2.31.0
alembic==1.13.0
sqlalchemy==2.0.23
alembic
APScheduler
email-validator
Flask
flask-dance
flask-login
flask-sqlalchemy
gunicorn
oauthlib
psycopg2-binary
PyJWT
requests
sqlalchemy
weasyprint
Werkzeug
apscheduler
